name: dali2mqtt (Tridonic/Lunatone HID)
version: "0.2.2"
slug: dali2mqtt
description: Bridge DALI (Tridonic/Lunatone HID) to MQTT for Home Assistant (wrapper around dgomes/dali2mqtt)
arch:
  - aarch64
  - armv7
  - amd64
init: false
startup: services
boot: auto
ingress: false
uart: false
udev: true
apparmor: false

devices:
  - /dev/hidraw0
  - /dev/bus/usb

options:
  mqtt:
    host: core-mosquitto
    port: 1883
    username: ""
    password: ""
    base_topic: "dali"
  dali:
    device: "/dev/hidraw0"
    driver: "tridonic"
    log_level: "debug"
  ha_discovery_prefix: "homeassistant"

schema:
  mqtt:
    host: str
    port: int
    username: str
    password: str
    base_topic: str
  dali:
    device: str
    driver: list(hasseb|tridonic|dali_server|dummy)
    log_level: list(critical|error|warning|info|debug)
  ha_discovery_prefix: str

privileged:
  - SYS_ADMIN
  - SYS_RAWIO

map:
  - config:rw
  - share:rw

timeout: 120
